<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indragunawan.smartmobile.bni"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PINActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CommonMenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RaiseLimitActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PrintBillRequestActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".DanaplusActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PhoneBillPaymentActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PhoneReloadActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PhoneSmartBillActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PhoneSmartReloadActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SmartTransferActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SmartMobilePINActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".RegistrasiWebActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ApplicationRequestActivity"
            android:label="@string/app_name" />
    </application>

</manifest>